@tailwind base;


@tailwind components;
@tailwind utilities;

.test {
height: 20%;
}

.outer{
  flex-grow: 20;
  flex-shrink: 0;
}
.indAnswer {
  overflow-y: auto;
  max-height: 35vh;
}
.testers {
  display: flex;
}

